@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap');

@import "tailwindcss";

@theme {
  --font-antiqua: 'Modern Antiqua', serif;
}
@layer base {
  html {
    font-family: var(--font-antiqua);
  }
}
